USE [master]
GO
/****** Object:  Database [SERVIS]    Script Date: 29.08.2022 15:18:02 ******/
CREATE DATABASE [SERVIS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SERVIS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\SERVIS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SERVIS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\SERVIS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SERVIS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SERVIS]
GO
USE [SERVIS]
GO
/****** Object:  Table [dbo].[Borc]    Script Date: 29.08.2022 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tutar] [float] NULL,
	[Aciklama] [nvarchar](max) NULL,
	[MusteriId] [int] NULL,
	[Tur] [int] NULL,
 CONSTRAINT [PK_Borc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cari]    Script Date: 29.08.2022 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cari](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](max) NULL,
	[Soyad] [nvarchar](max) NULL,
	[Adres] [nvarchar](max) NULL,
	[Evtel] [nvarchar](max) NULL,
	[Istel] [nvarchar](max) NULL,
	[Ceptel] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cari] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motor]    Script Date: 29.08.2022 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Plaka] [nvarchar](max) NULL,
	[Marka] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[Renk] [nvarchar](max) NULL,
	[CariId] [int] NULL,
 CONSTRAINT [PK_Motor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parca]    Script Date: 29.08.2022 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parca](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParcaAciklama] [nvarchar](100) NULL,
	[Tutar] [float] NOT NULL,
	[ServisId] [int] NULL,
	[Adet] [int] NULL,
 CONSTRAINT [PK_Parca] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servis]    Script Date: 29.08.2022 15:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servis](
	[ServisKayitNumarasi] [int] IDENTITY(1,1) NOT NULL,
	[Gelkm] [nvarchar](50) NULL,
	[Benzin] [nvarchar](max) NULL,
	[Sikayet] [nvarchar](max) NULL,
	[Plaka] [nvarchar](50) NULL,
	[Tarih] [nvarchar](50) NULL,
	[Bakim] [int] NULL,
	[Yil] [int] NULL,
	[Iscilik] [float] NULL,
 CONSTRAINT [PK_Servis] PRIMARY KEY CLUSTERED 
(
	[ServisKayitNumarasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
